src/META-INF/ErpIntegrationService.xml

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="ErpIntegrationService"
     targetNamespace="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:orafault="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0"
     xmlns:tns="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/types/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
    >
    <wsdl:documentation xmlns:oer="http://xmlns.oracle.com/oer">
        <name>ERP Integration Service</name>
        <description>provides external web service operations for ERP integration
            scenarios.</description>
        <docCategories>
            <category>External</category>
        </docCategories>
        <oer:lifecycle>Active</oer:lifecycle>
        <oer:compatibility>Supported - Backward Compatibility Assured</oer:compatibility>
        <oer:operation name="getESSJobStatus">
            <description>Obtains the request status of the submitted ESS job.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="requestId" description="The request ID of the submitted ESS job."/>
                <oer:return description="Returns the current status of the ESS job."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getDfltObjAttrHints">
            <description>An operation to retrieve user interface hints, such as the
                service data object label and object attribute labels, for the
                specified service data object and locale.  As a prerequisite,
                invoke the getEntityList operation defined on this service to
                get the list of possible values for the viewName request payload
                element.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="viewName" description="The service view usage name, an internal name for the service data object.  Specify the value of the &lt;name&gt; element from the getEntityList operation response payload."/>
                <oer:parameter name="localeName" description="The locale to use when evaluating locale-based user interface hints.  The localeName is in ISO 639-1 format."/>
                <oer:return description="The label and user interface hints for the specified service data object and its attributes in a name-value pair format"/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getServiceLastUpdateTime">
            <description>An operation that returns the date and time when the schema
                files referenced in the service definition last changed.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:return description="The date and time when the service definition last changed in ISO 8601 format."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getEntityList">
            <description>An operation to get the list of service data objects defined on
                this service.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:return description="A list of service data objects defined on this service.  For each service data object, the result includes the QName, internal name, and Boolean values indicating whether create, update, merge, and delete operations can be performed on the object."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="submitESSJobRequest">
            <description>Submits an ESS job request for the specified job definition.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="jobPackageName" description="The ESS job package name for the ESS job that must be submitted."/>
                <oer:parameter name="jobDefinitionName" description="The ESS job definition name for the ESS job that must be submitted."/>
                <oer:parameter name="paramList" description="List of parameters used to invoke the ESS job. The order of the parameters is maintained as per the list.   The corresponding entry in the list should be blank when a given parameter is not passed."/>
                <oer:return description="Returns the request ID of the submitted ESS job."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="submitJobWithOutput">
            <description>Submits an ESS job to export and uploads the job output to the
                Universal Content Management server.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="jobPackageName" description="The ESS job package name for the ESS job that must be submitted."/>
                <oer:parameter name="jobDefinitionName" description="The ESS job definition name for the ESS job that must be submitted."/>
                <oer:parameter name="callbackURL" description="The callback URL of the service implemented by the customers to receive the ESS job status on job completion."/>
                <oer:parameter name="paramList" description="List of parameters used to invoke the ESS job. The order of the parameters is maintained as per the list.  The corresponding entry in the list should be blank when a given parameter is not passed."/>
                <oer:return description="Returns the request ID of the submitted ESS job."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getDocumentIdsForFilePrefix">
            <description>Gets the document identifiers for files that match the file
                prefix and specified account. These files do not contain the
                specified comments.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="prefix" description="The file prefix used to search for the files that start with a specificed prefix."/>
                <oer:parameter name="account" description="The account parameter used to search for the files that belongs to a specified security account."/>
                <oer:parameter name="comments" description="The parameter is used to pass the comments. Files that do not have the comments are retreived."/>
                <oer:return description="Returns a list of document Identifiers."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getDocumentForDocumentId">
            <description>The operation is used to get the document that matches the given
                Document Identifier</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="DocumentId" description="The numeric document identifier of a file."/>
                <oer:return description="Returns a list of elements, each containing the details of the downloaded files.  The details include the document ID, file content, file name, content type, file title, author, security group, and account."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getDocumentsForFilePrefix">
            <description>Gets the files that match the file prefix and specified account.
                These files do not contain the specified comments.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="prefix" description="The file prefix used to search for the files that start with a specificed prefix."/>
                <oer:parameter name="account" description="The account parameter used to search for the files that belongs to a specified security account."/>
                <oer:parameter name="comments" description="The comments that are not present in the files."/>
                <oer:return description="Returns a list of elements, each containing the details of the downloaded files.  The details include the document ID, file content, file name, content type, file title, author, security group, and account."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="uploadFileToUcm">
            <description>Uploads a file to the Universal Content Management server based
                on the document specified.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="document" description="List of elements, each containing the details of the file to be uploaded.  The details include the file content, file name, content type, file title, author, security group, and account."/>
                <oer:return description="Returns the document ID of the uploaded file."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="downloadESSJobExecutionDetails">
            <description>Downloads the ESS job output and the logs as a zip file.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="requestId" description="The request ID of the submitted ESS job."/>
                <oer:parameter name="fileType" description="The file type used to determine the execution details to download.  Specify the file type as log to download the log file and output file. Specify the file type as out to download the output file.  Download the log files and output files when no file type is specified."/>
                <oer:return description="Returns a list of elements, each containing the details of the downloaded files. The details include the document ID, file content, file name, content type, file title, author, security group, and account."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="appendFileComment">
            <description>Appends the specified comments to a file.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="documentId" description="The numeric document identifier of a file."/>
                <oer:parameter name="comments" description="Appends the specified comments to a file."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="downloadExportOutput">
            <description>The method downloads the output of ESS job</description>
            <oer:lifecycle>Deprecated</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="requestId" description="The parameter is used to pass the request id of the ESS job."/>
                <oer:return description="The list of document details for the document is returned"/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="loadAndImportData">
            <description>Uploads a file to the Oracle Universal Content Management server
                based on the document specified and submits the ESS jobs to
                import and process the uploaded file.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="document" description="List of elements, each containing the details of the file to be uploaded. The details include the file content, file name, content type, file title, author, security group, and account."/>
                <oer:parameter name="jobList" description="List of elements, each containing the details of the ESS job to be submitted to import and process the uploaded file. The details include the job definition name, job package name, and list of parameters."/>
                <oer:parameter name="interfaceDetails" description="The interface whose data is to be loaded."/>
                <oer:parameter name="notificationCode" description="Two digit code representing the type and when a notification is to be sent"/>
                <oer:parameter name="callbackURL" description="The callback URL of the service implemented by the customers to receive the ESS job status on job completion."/>
                <oer:return description="Returns response code containing error details"/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="importBulkData">
            <description>Uploads a file to the Oracle Universal Content Management server based on the document specified and submits the ESS jobs to import and process the uploaded file with multiple options.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="document" description="List of elements, each containing the details of the file to be uploaded. The details include the file content, file name, content type, file title, author, security group, and account."/>
                <oer:parameter name="jobDetails" description="List of elements, each containing the details of the ESS job to be submitted to import and process the uploaded file. The details include the job definition name, job package name, and list of parameters."/>
                <oer:parameter name="notificationCode" description="Two digit code representing the type and when a notification is to be sent."/>
                <oer:parameter name="callbackURL" description="The callback URL of the service implemented by the customers to receive the ESS job status on job completion."/>
                <oer:parameter name="jobOptions" description="A web service operation input parameter. It designates the specific inbound bulk data processing variation selected and the output file type that will be generated upon completion of the data processing."/>
                <oer:return description="Returns response code containing error details"/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="exportBulkData">
            <description>Submits an ESS job to export and uploads the job output to the Universal Content Management server with callback and notification.</description>
            <oer:lifecycle>Active</oer:lifecycle>
            <oer:parameters>
                <oer:parameter name="jobName" description="The ESS job package name and definition name for the ESS job that must be submitted."/>
                <oer:parameter name="parameterList" description="Parameters used to invoke the ESS job."/>
                <oer:parameter name="jobOptions" description="A web service operation input parameter which will allow new attributes to be used for future enhancements to ensure data model flexibility."/>
                <oer:parameter name="callbackURL" description="The callback URL of the service implemented by the customers to receive the ESS job status on job completion."/>
                <oer:parameter name="notificationCode" description="Two digit code representing the type and when a notification is to be sent."/>
                <oer:return description="Returns the request ID of the submitted ESS job."/>
            </oer:parameters>
        </oer:operation>
    </wsdl:documentation>
    <plnk:partnerLinkType name="ErpIntegrationService">
        <plnk:role name="ErpIntegrationServiceProvider">
            <plnk:portType name="tns:ErpIntegrationService"/>
        </plnk:role>
        <plnk:role name="ErpIntegrationServiceRequestor">
            <plnk:portType name="tns:ErpIntegrationServiceResponse"/>
        </plnk:role>
    </plnk:partnerLinkType>    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.xml"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0" schemaLocation="https://erpcloudhost:443/publicFinancialCommonErpIntegration/ErpIntegrationService?XSD=/META-INF/oracle-webservices-async-fault-11_0.xsd"/>
            <import namespace="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/types/"
                 schemaLocation="https://erpcloudhost:443/publicFinancialCommonErpIntegration/ErpIntegrationService?XSD=/oracle/apps/financials/commonModules/shared/model/erpIntegrationService/ErpIntegrationService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="ErpIntegrationService_getESSJobStatus">
        <wsdl:part name="parameters" element="types:getESSJobStatus"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getESSJobStatusResponse">
        <wsdl:part name="parameters" element="types:getESSJobStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDfltObjAttrHints">
        <wsdl:part name="parameters" element="types:getDfltObjAttrHints"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDfltObjAttrHintsResponse">
        <wsdl:part name="parameters" element="types:getDfltObjAttrHintsResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getServiceLastUpdateTime">
        <wsdl:part name="parameters" element="types:getServiceLastUpdateTime"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getServiceLastUpdateTimeResponse">
        <wsdl:part name="parameters" element="types:getServiceLastUpdateTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getEntityList">
        <wsdl:part name="parameters" element="types:getEntityList"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getEntityListResponse">
        <wsdl:part name="parameters" element="types:getEntityListResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getEntityListAsync">
        <wsdl:part name="parameters" element="types:getEntityListAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getESSJobStatusAsync">
        <wsdl:part name="parameters" element="types:getESSJobStatusAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDfltObjAttrHintsAsync">
        <wsdl:part name="parameters" element="types:getDfltObjAttrHintsAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getServiceLastUpdateTimeAsync">
        <wsdl:part name="parameters" element="types:getServiceLastUpdateTimeAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitESSJobRequest">
        <wsdl:part name="parameters" element="types:submitESSJobRequest"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitESSJobRequestResponse">
        <wsdl:part name="parameters" element="types:submitESSJobRequestResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitESSJobRequestAsync">
        <wsdl:part name="parameters" element="types:submitESSJobRequestAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitJobWithOutput">
        <wsdl:part name="parameters" element="types:submitJobWithOutput"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitJobWithOutputResponse">
        <wsdl:part name="parameters" element="types:submitJobWithOutputResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitJobWithOutputAsync">
        <wsdl:part name="parameters" element="types:submitJobWithOutputAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentIdsForFilePrefix">
        <wsdl:part name="parameters" element="types:getDocumentIdsForFilePrefix"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentIdsForFilePrefixResponse">
        <wsdl:part name="parameters" element="types:getDocumentIdsForFilePrefixResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentIdsForFilePrefixAsync">
        <wsdl:part name="parameters" element="types:getDocumentIdsForFilePrefixAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentForDocumentId">
        <wsdl:part name="parameters" element="types:getDocumentForDocumentId"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentForDocumentIdResponse">
        <wsdl:part name="parameters" element="types:getDocumentForDocumentIdResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentForDocumentIdAsync">
        <wsdl:part name="parameters" element="types:getDocumentForDocumentIdAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentsForFilePrefix">
        <wsdl:part name="parameters" element="types:getDocumentsForFilePrefix"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentsForFilePrefixResponse">
        <wsdl:part name="parameters" element="types:getDocumentsForFilePrefixResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentsForFilePrefixAsync">
        <wsdl:part name="parameters" element="types:getDocumentsForFilePrefixAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_uploadFileToUcm">
        <wsdl:part name="parameters" element="types:uploadFileToUcm"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_uploadFileToUcmResponse">
        <wsdl:part name="parameters" element="types:uploadFileToUcmResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_uploadFileToUcmAsync">
        <wsdl:part name="parameters" element="types:uploadFileToUcmAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadESSJobExecutionDetails">
        <wsdl:part name="parameters" element="types:downloadESSJobExecutionDetails"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadESSJobExecutionDetailsResponse">
        <wsdl:part name="parameters" element="types:downloadESSJobExecutionDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_appendFileComment">
        <wsdl:part name="parameters" element="types:appendFileComment"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_appendFileCommentResponse">
        <wsdl:part name="parameters" element="types:appendFileCommentResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_appendFileCommentAsync">
        <wsdl:part name="parameters" element="types:appendFileCommentAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadESSJobExecutionDetailsAsync">
        <wsdl:part name="parameters" element="types:downloadESSJobExecutionDetailsAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadExportOutput">
        <wsdl:part name="parameters" element="types:downloadExportOutput"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadExportOutputResponse">
        <wsdl:part name="parameters" element="types:downloadExportOutputResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadExportOutputAsync">
        <wsdl:part name="parameters" element="types:downloadExportOutputAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_loadAndImportData">
        <wsdl:part name="parameters" element="types:loadAndImportData"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_loadAndImportDataResponse">
        <wsdl:part name="parameters" element="types:loadAndImportDataResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_loadAndImportDataAsync">
        <wsdl:part name="parameters" element="types:loadAndImportDataAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_importBulkData">
        <wsdl:part name="parameters" element="types:importBulkData"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_importBulkDataResponse">
        <wsdl:part name="parameters" element="types:importBulkDataResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_exportBulkData">
        <wsdl:part name="parameters" element="types:exportBulkData"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_exportBulkDataResponse">
        <wsdl:part name="parameters" element="types:exportBulkDataResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_importBulkDataAsync">
        <wsdl:part name="parameters" element="types:importBulkDataAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_exportBulkDataAsync">
        <wsdl:part name="parameters" element="types:exportBulkDataAsync"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_onFault">
        <wsdl:part name="parameters" element="orafault:Fault"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getEntityListAsyncResponse">
        <wsdl:part name="parameters" element="types:getEntityListAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getESSJobStatusAsyncResponse">
        <wsdl:part name="parameters" element="types:getESSJobStatusAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDfltObjAttrHintsAsyncResponse">
        <wsdl:part name="parameters" element="types:getDfltObjAttrHintsAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getServiceLastUpdateTimeAsyncResponse">
        <wsdl:part name="parameters" element="types:getServiceLastUpdateTimeAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitESSJobRequestAsyncResponse">
        <wsdl:part name="parameters" element="types:submitESSJobRequestAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_submitJobWithOutputAsyncResponse">
        <wsdl:part name="parameters" element="types:submitJobWithOutputAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentIdsForFilePrefixAsyncResponse">
        <wsdl:part name="parameters" element="types:getDocumentIdsForFilePrefixAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentForDocumentIdAsyncResponse">
        <wsdl:part name="parameters" element="types:getDocumentForDocumentIdAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_getDocumentsForFilePrefixAsyncResponse">
        <wsdl:part name="parameters" element="types:getDocumentsForFilePrefixAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_uploadFileToUcmAsyncResponse">
        <wsdl:part name="parameters" element="types:uploadFileToUcmAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_appendFileCommentAsyncResponse">
        <wsdl:part name="parameters" element="types:appendFileCommentAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadESSJobExecutionDetailsAsyncResponse">
        <wsdl:part name="parameters" element="types:downloadESSJobExecutionDetailsAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_downloadExportOutputAsyncResponse">
        <wsdl:part name="parameters" element="types:downloadExportOutputAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_loadAndImportDataAsyncResponse">
        <wsdl:part name="parameters" element="types:loadAndImportDataAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_importBulkDataAsyncResponse">
        <wsdl:part name="parameters" element="types:importBulkDataAsyncResponse"/>
    </wsdl:message>
    <wsdl:message name="ErpIntegrationService_exportBulkDataAsyncResponse">
        <wsdl:part name="parameters" element="types:exportBulkDataAsyncResponse"/>
    </wsdl:message>
    <wsdl:portType name="ErpIntegrationService">
        <wsdl:documentation/>
        <wsdl:operation name="getESSJobStatus">
            <wsdl:input message="tns:ErpIntegrationService_getESSJobStatus"/>
            <wsdl:output message="tns:ErpIntegrationService_getESSJobStatusResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDfltObjAttrHints">
            <wsdl:input message="tns:ErpIntegrationService_getDfltObjAttrHints"/>
            <wsdl:output message="tns:ErpIntegrationService_getDfltObjAttrHintsResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceLastUpdateTime">
            <wsdl:input message="tns:ErpIntegrationService_getServiceLastUpdateTime"/>
            <wsdl:output message="tns:ErpIntegrationService_getServiceLastUpdateTimeResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntityList">
            <wsdl:input message="tns:ErpIntegrationService_getEntityList"/>
            <wsdl:output message="tns:ErpIntegrationService_getEntityListResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntityListAsync">
            <wsdl:input message="tns:ErpIntegrationService_getEntityListAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getEntityListAsync"/>
        </wsdl:operation>
        <wsdl:operation name="getESSJobStatusAsync">
            <wsdl:input message="tns:ErpIntegrationService_getESSJobStatusAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getESSJobStatusAsync"/>
        </wsdl:operation>
        <wsdl:operation name="getDfltObjAttrHintsAsync">
            <wsdl:input message="tns:ErpIntegrationService_getDfltObjAttrHintsAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDfltObjAttrHintsAsync"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceLastUpdateTimeAsync">
            <wsdl:input message="tns:ErpIntegrationService_getServiceLastUpdateTimeAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getServiceLastUpdateTimeAsync"/>
        </wsdl:operation>
        <wsdl:operation name="submitESSJobRequest">
            <wsdl:input message="tns:ErpIntegrationService_submitESSJobRequest"/>
            <wsdl:output message="tns:ErpIntegrationService_submitESSJobRequestResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="submitESSJobRequestAsync">
            <wsdl:input message="tns:ErpIntegrationService_submitESSJobRequestAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitESSJobRequestAsync"/>
        </wsdl:operation>
        <wsdl:operation name="submitJobWithOutput">
            <wsdl:input message="tns:ErpIntegrationService_submitJobWithOutput"/>
            <wsdl:output message="tns:ErpIntegrationService_submitJobWithOutputResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="submitJobWithOutputAsync">
            <wsdl:input message="tns:ErpIntegrationService_submitJobWithOutputAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitJobWithOutputAsync"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentIdsForFilePrefix">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentIdsForFilePrefix"/>
            <wsdl:output message="tns:ErpIntegrationService_getDocumentIdsForFilePrefixResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentIdsForFilePrefixAsync">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentIdsForFilePrefixAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentIdsForFilePrefixAsync"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentForDocumentId">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentForDocumentId"/>
            <wsdl:output message="tns:ErpIntegrationService_getDocumentForDocumentIdResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentForDocumentIdAsync">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentForDocumentIdAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentForDocumentIdAsync"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentsForFilePrefix">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentsForFilePrefix"/>
            <wsdl:output message="tns:ErpIntegrationService_getDocumentsForFilePrefixResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentsForFilePrefixAsync">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentsForFilePrefixAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentsForFilePrefixAsync"/>
        </wsdl:operation>
        <wsdl:operation name="uploadFileToUcm">
            <wsdl:input message="tns:ErpIntegrationService_uploadFileToUcm"/>
            <wsdl:output message="tns:ErpIntegrationService_uploadFileToUcmResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="uploadFileToUcmAsync">
            <wsdl:input message="tns:ErpIntegrationService_uploadFileToUcmAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/uploadFileToUcmAsync"/>
        </wsdl:operation>
        <wsdl:operation name="downloadESSJobExecutionDetails">
            <wsdl:input message="tns:ErpIntegrationService_downloadESSJobExecutionDetails"/>
            <wsdl:output message="tns:ErpIntegrationService_downloadESSJobExecutionDetailsResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="appendFileComment">
            <wsdl:input message="tns:ErpIntegrationService_appendFileComment"/>
            <wsdl:output message="tns:ErpIntegrationService_appendFileCommentResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="appendFileCommentAsync">
            <wsdl:input message="tns:ErpIntegrationService_appendFileCommentAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/appendFileCommentAsync"/>
        </wsdl:operation>
        <wsdl:operation name="downloadESSJobExecutionDetailsAsync">
            <wsdl:input message="tns:ErpIntegrationService_downloadESSJobExecutionDetailsAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadESSJobExecutionDetailsAsync"/>
        </wsdl:operation>
        <wsdl:operation name="downloadExportOutput">
            <wsdl:input message="tns:ErpIntegrationService_downloadExportOutput"/>
            <wsdl:output message="tns:ErpIntegrationService_downloadExportOutputResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="downloadExportOutputAsync">
            <wsdl:input message="tns:ErpIntegrationService_downloadExportOutputAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadExportOutputAsync"/>
        </wsdl:operation>
        <wsdl:operation name="loadAndImportData">
            <wsdl:input message="tns:ErpIntegrationService_loadAndImportData"/>
            <wsdl:output message="tns:ErpIntegrationService_loadAndImportDataResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="loadAndImportDataAsync">
            <wsdl:input message="tns:ErpIntegrationService_loadAndImportDataAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/loadAndImportDataAsync"/>
        </wsdl:operation>
        <wsdl:operation name="importBulkData">
            <wsdl:input message="tns:ErpIntegrationService_importBulkData"/>
            <wsdl:output message="tns:ErpIntegrationService_importBulkDataResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="exportBulkData">
            <wsdl:input message="tns:ErpIntegrationService_exportBulkData"/>
            <wsdl:output message="tns:ErpIntegrationService_exportBulkDataResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="importBulkDataAsync">
            <wsdl:input message="tns:ErpIntegrationService_importBulkDataAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/importBulkDataAsync"/>
        </wsdl:operation>
        <wsdl:operation name="exportBulkDataAsync">
            <wsdl:input message="tns:ErpIntegrationService_exportBulkDataAsync" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/exportBulkDataAsync"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ErpIntegrationServiceResponse">
        <wsdl:operation name="onFault">
            <wsdl:input message="tns:ErpIntegrationService_onFault" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0/Fault"/>
        </wsdl:operation>
        <wsdl:operation name="getEntityListAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getEntityListAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getEntityListAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getESSJobStatusAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getESSJobStatusAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getESSJobStatusAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDfltObjAttrHintsAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getDfltObjAttrHintsAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDfltObjAttrHintsAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceLastUpdateTimeAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getServiceLastUpdateTimeAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getServiceLastUpdateTimeAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="submitESSJobRequestAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_submitESSJobRequestAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitESSJobRequestAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="submitJobWithOutputAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_submitJobWithOutputAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitJobWithOutputAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentIdsForFilePrefixAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentIdsForFilePrefixAsyncResponse"
                 xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentIdsForFilePrefixAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentForDocumentIdAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentForDocumentIdAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentForDocumentIdAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDocumentsForFilePrefixAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_getDocumentsForFilePrefixAsyncResponse"
                 xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentsForFilePrefixAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="uploadFileToUcmAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_uploadFileToUcmAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/uploadFileToUcmAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="appendFileCommentAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_appendFileCommentAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/appendFileCommentAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="downloadESSJobExecutionDetailsAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_downloadESSJobExecutionDetailsAsyncResponse"
                 xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadESSJobExecutionDetailsAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="downloadExportOutputAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_downloadExportOutputAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadExportOutputAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="loadAndImportDataAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_loadAndImportDataAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/loadAndImportDataAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="importBulkDataAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_importBulkDataAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/importBulkDataAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="exportBulkDataAsyncResponse">
            <wsdl:input message="tns:ErpIntegrationService_exportBulkDataAsyncResponse" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/exportBulkDataAsyncResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ErpIntegrationServiceSoapHttp" type="tns:ErpIntegrationService">
        <wsp:PolicyReference URI="#ErpIntegrationServiceSoapHttpPolicy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getESSJobStatus">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getESSJobStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDfltObjAttrHints">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDfltObjAttrHints"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceLastUpdateTime">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getServiceLastUpdateTime"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntityList">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getEntityList"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntityListAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getEntityListAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getESSJobStatusAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getESSJobStatusAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDfltObjAttrHintsAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDfltObjAttrHintsAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceLastUpdateTimeAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getServiceLastUpdateTimeAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="submitESSJobRequest">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitESSJobRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="submitESSJobRequestAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitESSJobRequestAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="submitJobWithOutput">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitJobWithOutput"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="submitJobWithOutputAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitJobWithOutputAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDocumentIdsForFilePrefix">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentIdsForFilePrefix"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocumentIdsForFilePrefixAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentIdsForFilePrefixAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDocumentForDocumentId">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentForDocumentId"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocumentForDocumentIdAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentForDocumentIdAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDocumentsForFilePrefix">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentsForFilePrefix"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getDocumentsForFilePrefixAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentsForFilePrefixAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadFileToUcm">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/uploadFileToUcm"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadFileToUcmAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/uploadFileToUcmAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadESSJobExecutionDetails">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadESSJobExecutionDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="appendFileComment">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/appendFileComment"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="appendFileCommentAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/appendFileCommentAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadESSJobExecutionDetailsAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadESSJobExecutionDetailsAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadExportOutput">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadExportOutput"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadExportOutputAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadExportOutputAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="loadAndImportData">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/loadAndImportData"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadAndImportDataAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/loadAndImportDataAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="importBulkData">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/importBulkData"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="exportBulkData">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/exportBulkData"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
      
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
      
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="importBulkDataAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/importBulkDataAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="exportBulkDataAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/exportBulkDataAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ErpIntegrationServiceResponseBinding" type="tns:ErpIntegrationServiceResponse">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="onFault">
            <soap:operation soapAction="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0/Fault"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEntityListAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getEntityListAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getESSJobStatusAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getESSJobStatusAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDfltObjAttrHintsAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDfltObjAttrHintsAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceLastUpdateTimeAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getServiceLastUpdateTimeAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="submitESSJobRequestAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitESSJobRequestAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="submitJobWithOutputAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/submitJobWithOutputAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDocumentIdsForFilePrefixAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentIdsForFilePrefixAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDocumentForDocumentIdAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentForDocumentIdAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDocumentsForFilePrefixAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/getDocumentsForFilePrefixAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadFileToUcmAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/uploadFileToUcmAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="appendFileCommentAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/appendFileCommentAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadESSJobExecutionDetailsAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadESSJobExecutionDetailsAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="downloadExportOutputAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/downloadExportOutputAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="loadAndImportDataAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/loadAndImportDataAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="importBulkDataAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/importBulkDataAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="exportBulkDataAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/financials/commonModules/shared/model/erpIntegrationService/exportBulkDataAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
      
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ErpIntegrationService">
        <wsdl:port name="ErpIntegrationServiceSoapHttpPort" binding="tns:ErpIntegrationServiceSoapHttp">
            <soap:address location="https://erpcloudhost:443/publicFinancialCommonErpIntegration/ErpIntegrationService"/>
            <wsa:EndpointReference xmlns:wsa="http://www.w3.org/2005/08/addressing">
                <wsa:Address xmlns:wsa="http://www.w3.org/2005/08/addressing">https://erpcloudhost:443/publicFinancialCommonErpIntegration/ErpIntegrationService</wsa:Address>
                <wsid:Identity xmlns:wsid="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
                    <dsig:KeyInfo xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
                        <dsig:X509Data>
                            <dsig:X509Certificate>MIIDbDCCAlSgAwIBAgIGAVMkh+/kMA0GCSqGSIb3DQEBCwUAMHgxCzAJBgNVBAYTAlVTMRAwDgYDVQQIEwdNeVN0YXRlMQ8wDQYDVQQHEwZNeVRvd24xFzAVBgNVBAoTDk15T3JnYW5pemF0aW9uMRkwFwYDVQQLExBGT1IgVEVTVElORyBPTkxZMRIwEAYDVQQDEwlDZXJ0R2VuQ0EwHhcNMTYwMjI3MjEwMDAxWhcNMjEwMjI1MjEwMDAxWjBTMRMwEQYKCZImiZPyLGQBGRYDY29tMRYwFAYKCZImiZPyLGQBGRYGb3JhY2xlMRIwEAYKCZImiZPyLGQBGRYCdXMxEDAOBgNVBAMTB3NlcnZpY2UwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCUXJX+MR0yM7jCR3MZdc6T/yrgo+NzchuEhqG17jbkM19kj7/DHZ77nmxk7CoT6yr4a6ggUtLQJ/TiVhb5f0fQe3GAX+bTlBuwsTrdAwhtqClSB4mnbwPyfGebrCI/urpw8oCYIHlnwkYc9veJQzMwLmrGiNwRSt3iiHoTgdXub1TGiHjS/a//aUQFHpyqohTwmEzeQ4LX+u/EqHUXf8mxmD4GT0TMwZn0TQWrxgvqowE6wtoHBzGWPh00WE5l0lQZa+UVoyELSoaSYTKrEg9X3AJFrWdhpB4qIe4vWAmt8kmUfnVYimJsC8aIfdlf7bpqcH2+FjlDqgppWkmGtoplAgMBAAGjITAfMB0GA1UdDgQWBBSb1ibMbas9I5SxaKsg3FiWaDirwjANBgkqhkiG9w0BAQsFAAOCAQEAR+mRkpQLvCbU1x45OnZ0ykZD6AIamL5h1ggWksXDPUHLL92wlzndXOzrkpQyjB6plOY6jIZbQaxsHN0RyAJvvDX1uoV/iuDZ7yZdRGAHN+H5bpPKLPhBMzDCFlsnhX1BKydklQ+4TKPcIciE3Fk3VJY4JPR7hCA4zKcr34frHRo9iqZTXzC1Td7XTXpRx95hYfL8Jr+Yxo0oub2GDpq8vbJZvrbs5F6Y6WGEPDbnX7UBquvwNXVxdqLPGSd5QapBpn2z2aa66ivuG8dCVZVt7CkVa1N8Jtf5fFKTBQui+ydKK1yeiOscEhFCvCWqOEjRH1MSJXyPEbYbYbi/+uC0hA==</dsig:X509Certificate>
                            <dsig:X509IssuerSerial>
                                <dsig:X509IssuerName>CN=CertGenCA, OU=FOR TESTING ONLY, O=MyOrganization, L=MyTown, ST=MyState, C=US</dsig:X509IssuerName>
                                <dsig:X509SerialNumber>1456606801892</dsig:X509SerialNumber>
                            </dsig:X509IssuerSerial>
                            <dsig:X509SubjectName>CN=service, DC=us, DC=oracle, DC=com</dsig:X509SubjectName>
                            <dsig:X509SKI>m9YmzG2rPSOUsWirINxYlmg4q8I=</dsig:X509SKI>
                        </dsig:X509Data>
                    </dsig:KeyInfo>
                </wsid:Identity>
            </wsa:EndpointReference>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="ErpIntegrationServiceSoapHttpPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:CallbackHandlerConfiguration wspp:visibility="private">
                    <sc:CallbackHandler default="faadmin" name="usernameHandler"/>
                    <sc:CallbackHandler default="fusionfa1" name="passwordHandler"/>
                </sc:CallbackHandlerConfiguration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
